.App {
  text-align: center;
  padding: 2em;

  font-family: 'Stencil';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

p{

  font-family: 'Arial light';
  line-height: 1.6;
}


h2 {
  color:#c98860;
}


.one {
  width: 20%;
  float: left;
}

.two {
  margin-left: 20%;
}

@font-face {
  font-family: Autumn;
  font-weight: bold;
  src: url("./fonts/Halimun-W7jn.ttf") format("opentype");
}

@font-face {
  font-family: Stencil;
  font-weight: bold;
  src: url("./fonts/Existence-StencilLight.otf") format("opentype");
}


.img-thumb {
  object-fit: cover;
  width:220px;
  height:220px;
}


